.text-align-center {
    text-align: center;
}

.product-catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-area {
    display: flex;
    flex-basis: 45em;
    height: 25em;
    justify-content: center;
}

.product-content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
    box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
    justify-content: space-around;
    align-content: stretch;
}

    .product-content img {
        height: 100%;
    }

    .product-content > div {
        flex-basis: 50%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
