.shopping-cart-table > thead > tr, .shopping-cart-table > tbody > tr, .shopping-cart-table > tfoot > tr {
    display: inline-flex;
    width: 100%;
}

    .shopping-cart-table > thead > tr > *, .shopping-cart-table > tbody > tr > *, .shopping-cart-table > tfoot > tr > * {
        flex-basis: 20%;
    }

.shopping-cart-table tr > * {
    justify-content: center;
    display: flex;
}

.shopping-cart-table > tfoot > tr {
    justify-content: center;
}

.alc-thead-dark {
    background: #222222;
    color: #999999;
}

.shopping-cart-area {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.shopping-cart-table {
    flex-basis: 60%;
}


.card {
    flex-basis: 30%;
    min-width: 20em;
    height: 20em;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}


.card-body {
    -ms-flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
    min-height: 1px;
    padding: 1.25rem;
}

.shopping-cart-table > tfoot > tr > td {
    min-width: 20em;
}


