@{
    ViewBag.Title = "About Page";

}

<div class="about-content">
    <h2>@ViewBag.Title.</h2>
    <h3>Online Commerce</h3>

    <p>This web site is develop for online commerce by MCBÜ Software Engineer Students</p>

    <div class="employee-area">

        <div class="employee-card">
            <div class="photo-area">
                <img src="https://avatars0.githubusercontent.com/u/50846539?s=460&u=2612c543e63a78c5497190b28634abeb8ae56660&v=4" />
            </div>
            <div class="full-name-area">
                <h3>Alparslan ÇAY</h3>
            </div>
            <div class="job-title-area">
                <h3>Job Title</h3>
                <a>HTML-CSS Developer, Desktop Tester</a>
            </div>
        </div>

        <div class="employee-card">
            <div class="photo-area"><img src="https://avatars3.githubusercontent.com/u/50769743?s=460&u=a7f4731b97378df3080a19756ff459f29b669024&v=4" /></div>
            <div class="full-name-area">
                <h3>Cihan ÇİFCİ</h3>
            </div>
            <div class="job-title-area">
                <h3>Job Title</h3>
                <a>C# Developer</a>
            </div>
        </div>

        <div class="employee-card">
            <div class="photo-area"> <img src="https://avatars3.githubusercontent.com/u/46919728?s=460&u=b7d6ddaf6319890195fa8d2a618797bcbe90eb81&v=4" /></div>
            <div class="full-name-area">
                <h3>Doğan KASAS</h3>
            </div>
            <div class="job-title-area">
                <h3>Job Title</h3>
                <a>C# Developer</a>
            </div>
        </div>

        <div class="employee-card">
            <div class="photo-area"> <img src="https://avatars2.githubusercontent.com/u/49327647?s=400&u=b6c2b3160f0b2f4ee376adfef36f0d5c0708e775&v=4" /></div>
            <div class="full-name-area">
                <h3>Eyyüp Sert</h3>
            </div>
            <div class="job-title-area">
                <h3>Job Title</h3>
                <a>HTML-CSS Developer, Web Tester</a>
            </div>
        </div>

        <div class="employee-card">
            <div class="photo-area"> <img src="https://avatars0.githubusercontent.com/u/39102004?s=460&u=62ce9ebde71d81b4a47a76f33111509851f337e7&v=4" /></div>
            <div class="full-name-area">
                <h3>Hamdi DAMAR</h3>
            </div>
            <div class="job-title-area">
                <h3>Job Title</h3>
                <a>Software Team Leader, .NET Developer</a>
            </div>
        </div>

    </div>

</div>