@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title.</h2>


<address>
    Hasan Ferdi Turgutlu Teknoloji Fakültesi<br />
    Turgutlu / Manisa / Turkey<br />
    <abbr title="Phone">Phone:</abbr>
    05000000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">onlinecommerce@cbu.edu.tr</a><br />
</address>