@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Commerce</h1>
    <p class="lead">This web site is develop for online commerce by MCBÜ Software Engineer Students</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="card-row">
    <div class="card-item green-background-light-opacity">
        <h2>Products</h2>
        <p>
            See Our Products
        </p>
        <p class="button-area"><a class="btn btn-default" href="~/Products">See &raquo;</a></p>
    </div>
    <div class="card-item orange-background-light-opacity" >
        <h2>Register</h2>
        <p>Be Our Customer</p>
        <p class="button-area"><a class="btn btn-default" href="/Accounts/Create">Register &raquo;</a></p>
    </div>
    <div class="card-item blue-background-light-opacity">
        <h2>Contact</h2>
        <p>Contact Us</p>
        <p class="button-area"><a class="btn btn-default" href="/Home/Contact">Contact &raquo;</a></p>
    </div>
</div>