@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Commerce</h1>
    <p class="lead">This web site is develop for online commerce by MCBÜ Software Engineer Students</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            See Our Products
        </p>
        <p><a class="btn btn-default" href="~/Products">See &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Be Our Customer</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Contact Us</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact &raquo;</a></p>
    </div>
</div>