@{
    ViewBag.Title = "Register";
}



<div class="register-content">
    <h2>Register Page</h2>
    <hr>
    @using (Html.BeginForm("Create", "Accounts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "register-form", role = "form" }))
    {
        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-input">
            <label>E-Mail</label>
            <div>
                <input type="text" name="Username" class="form-control" required />
            </div>
        </div>

        <div class="form-input">
            <label>Password</label>
            <div>
                <input type="password" name="Password" class="form-control"  required />
            </div>
        </div>

        <div class="form-input">
            <label>Confirm Password</label>
            <div>
                <input type="password" name="Password2" class="form-control" required />
            </div>
        </div>



        <div class="form-one-button">
            <div>
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
