@model IEnumerable<OnlineCommerce_WEB.Models.EntityFramework.Products>

@{
    ViewBag.Title = "Products Page";
}

<h2>Product List</h2>

<p>
    @*@@Html.ActionLink("Create New", "Create")**@
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <img src="~/Content/Images/iphone.jpg" style="width:25%">
            <h4 style="text-align:center">@item.Name</h4>
            <h5 style="text-align:center">@item.Price</h5>
            <a class="btn btn-primary" href="/Products/Details/@item.ID"> Details</a>
            
        </div>
    }
</div>

