@model IEnumerable<OnlineCommerce_WEB.Models.EntityFramework.Products>

@{
    ViewBag.Title = "Products Page";
}

<h2>Product List</h2>

<p>
    @*@@Html.ActionLink("Create New", "Create")**@
</p>

<div class="card">
    @foreach (var item in Model)
    {

        <img src="~/Content/Images/iphone.jpg" style="width:25%">
        <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
        <p class="price">@Html.DisplayFor(modelItem => item.Price)</p>
        <p><button>Add to Cart</button></p>

    }
</div>

